* {
  font-size: 11px;
}

body {
  background: #F3F7F9; 
  position: relative;
  min-height: 100vh; 
}

footer {
  margin-top: 50px;
  background-color: #E2E6EA;
  padding: 50px; 
}

#menu {
  height: 100%;
  background-color: #FFFFFF;
  z-index: 1000;
  position: sticky;
  top: 0px;
  box-shadow: 10px 2px 5px black;
}

.jumbotron {
  margin-bottom: 0;
  background-color: #FAFAFA;
}

#text {
  background-color: #FFFFFF; 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px; 
  height: 100%;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05); 
}

.container-separator {
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.bg-rgba {
  background-color: rgba(255, 255, 255, 0.8); 
}

.nav a i {
  margin-right: 10px;
}

form {
  color: #333; 
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.9); 
}

.submit-container {
  display: flex;
  align-self: flex-end;
  margin-top: 10px;
}

.ct {
  display: flex;
  justify-content: center;
}

#name, #pass, #phone {
  width: 100%;
}

.btu {
  display: inline-block;
  color: #333; 
  background: #EAEFF2; 
  border-radius: 5px;
  cursor: pointer;
  padding: .8rem 3rem;
  transition-duration: 1s;
}

.btu:hover {
  background: #D1D7DC; 
}

input::-webkit-input-placeholder {
  color: #8A8A8A; 
  font-size: 9px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: rgb(60, 57, 57); 
}

  